# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
obj

# mstest test results
TestResults

#user preferences file
*.suo

#output of compilation process
bin/Debug/AppX/*
bin/*

#BUT keep the compiled assets!!
!bin/Debug/AppX/Content